<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<!-- Icons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Horseshoedev Portfolio Page</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h1>Welcome to my Portfolio Page</h1>
            </div>

            <div class="col s12">

                <!-- Bespoke Web -->
                <h3>Bespoke Web</h3>
                <div class="bespoke_preview"></div>
                <p>Websites tailored to fit.</p>

                <i class="tiny material-icons">web</i><a href="www.bespokeweb.biz">Site</a>

                <i class="tiny material-icons">account_circle</i><a href="https://github.com/horseshoedev/bespokeweb-site">Github</a>
            </div>

            <!-- Noir Digital Prints -->
            <div class="col s12">
                <h3>Noir Digital Prints</h3>
                <div class="noir_digital_preview"></div>
                <p>Buy a digital art print or request a custom piece.</p>

                <i class="tiny material-icons">web</i><a href="www.noirdigitalprints.com">Site</a>

                <i class="tiny material-icons">account_circle</i><a href="https://github.com/horseshoedev/noir_digital_prints">Github</a>
            </div>

            <!-- Iron Temple Training -->
            <div class="col s12">
                <h3>Iron Temple Training</h3>
                <div class="iron_temple_preview"></div>
                <p>Get meal plans and training tips all in one place.</p>

                <i class="tiny material-icons">web</i><a href="www.irontempletraining.xyz">Site</a>

                <i class="tiny material-icons">account_circle</i><a href="https://github.com/horseshoedev/irontempletraining">Github</a>
            </div>

            <!-- Portfolio Site -->
            <div class="col s12">
                <h3>Portfolio Site</h3>
                <i class="tiny material-icons">web</i><a href="www.horseshoedev.xyz">Site</a>   
                <i class="tiny material-icons">account_circle</i><a href="https://github.com/horseshoedev">Github
                    Profile</a>
            </div>

        </div>
    </div>

    </div>
</body>

</html>