<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<!-- Icons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Horseshoedev Portfolio Page</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h1>Welcome to my Portfolio Page</h1>

            </div>

<!--             <div class="col s12 m7"> -->
                <!-- Bespoke Web -->
<!--                 <div class="card">
                    <div class="card-image"> -->
                        <!-- <img src="https://picsum.photos/300/100?grayscale"> -->
<!--                     </div>
                    <div class="card-content">
                        <span class="card-title">Bespoke Web</span>
                        <p>Websites tailored to fit.</p>
                    </div>
                    <div class="card-action">
                        <i class="tiny material-icons">web</i><a href="www.bespokeweb.biz">Site</a>

                        <i class="tiny material-icons">account_circle</i><a
                            href="https://github.com/horseshoedev/bespokeweb-site">Github</a> </div>
                </div>
            </div> -->



            <!-- Noir Digital Prints -->
            <div class="col s12 m7">
                <div class="card">
                    <div class="card-image">
                        <!-- <img src="https://picsum.photos/300/100?grayscale"> -->
                    </div>
                    <div class="card-content">
                        <span class="card-title">Noir Digital Prints</span>
                        <p>Buy a digital art print or request a custom piece.</p>
                    </div>
                    <div class="card-action">
                        <i class="tiny material-icons">web</i><a href="www.noirdigitalprints.com">Site</a>

                        <i class="tiny material-icons">account_circle</i><a
                            href="https://github.com/horseshoedev/noir_digital_prints">Github</a>
                    </div>
                </div>
            </div>
            <!-- /noir digital -->

            <!-- Iron Temple Training -->
            <!-- <div class="col s12 m7">
                <div class="card">
                    <div class="card-image"> -->
                        <!-- <img src="https://picsum.photos/300/100?grayscale"> -->
                    <!-- </div>
                    <div class="card-content">
                        <span class="card-title">Iron Temple Training</span>
                        <p>Get meal plans and training tips all in one place.</p>
                    </div>
                    <div class="card-action">
                        <i class="tiny material-icons">web</i><a href="www.irontempletraining.xyz">Site</a>

                        <i class="tiny material-icons">account_circle</i><a
                            href="https://github.com/horseshoedev/irontempletraining">Github</a>
                    </div>
                </div>
            </div> -->
            <!-- ./iron temple training -->

            <!-- Portfolio Site -->
            <div class="col s12 m7">
                <div class="card">
                    <div class="card-image">
                        <!-- <img src="https://picsum.photos/300/100?grayscale"> -->
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <span class="card-title">Portfolio</span>
                            <p>You are here.</p>
                        </div>
                        <div class="card-action">
                            <i class="tiny material-icons">web</i><a href="www.horseshoedev.xyz">Site</a>
                            <i class="tiny material-icons">account_circle</i><a
                                href="https://github.com/horseshoedev">Github
                                Profile</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Portfolio -->

        </div>

    </div>
    </div>

    </div>
</body>

</html>
